*{
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;

    
    
}

body{
    background-image: url(background.png);
    background-repeat: no-repeat;
}

   

.navbar{

    
    padding: 40px;
    position: relative;

}


.navbar .navbar-container .navbar-container-left{
    float: left;
}

.navbar .navbar-container .navbar-container-left .logotipo{
    height: 30px;
}

.navbar .navbar-container .navbar-container-right{

    
    float: right;
    font-family: montserrat-light;
    font-size: 1em;

}

.navbar .navbar-container .navbar-container-right .logincolor{
    
    color: aliceblue;
}


.main{

    height: 100vh;
    
}

.container-main{
    position: relative;

}


#simbolo{

    position: absolute;
    display: flex;
    margin-top: -55px;
}
.text{

    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    color: white;
    
}

.text-style{

    font-size: 2.5em;
    font-family: value;
    line-height: 1em;
    letter-spacing: 0.02em;
    z-index: 1;
}

.text-1{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 7px;




}

.style-p{

    font-family: montserrat-light;
    font-size: 1.8em;
    z-index: 1;

}

.main-link{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    color: white;
    font-family: montserrat-light;
}

.main-button{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.button-main{
    color: white;
    background-color: rgb(232, 45, 100);
    font-family: 'value';
    border-radius: 5px;
    border: solid rgb(232, 45, 100);
    padding: 10px 70px;
    font-size: 1.5em;
    box-shadow: 4px 5px 20px rgb(16, 64, 151);
}








.container{
    height: 1200px;
    padding: 80px;
    padding-top: 120px;
    position: relative;
}

 .organiza-cantainer{
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 10px 10px 80px  rgb(15, 45, 100);
    border-radius: 5px;
    margin-bottom: 100px;
    height: 230px;;
    
    

}
#no{
    height: 278px;
    margin-left: -25px;
    margin-bottom: -17px;
}

.imagen-container{
    flex: auto;
}

h2{
    font-size: 2em;
    font-family: value;
    color: blue;
    
}

.text-organiza{
    font-size: 1.05em;
    font-family: montserrat-light;
    padding-right: 50px;
    

    
}
   
.main-flecha{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#flecha{
    height: 20px;
}


/*segunda imagen*/

 .organiza-1{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background: white;
    box-shadow: 10px 10px 80px;
    border-radius: 5px;
    margin-bottom: 100px;
    height: 230px;
    
}

#no-1{
    height: 278px;
    margin-right: -25px;
    margin-bottom: -17px;
}

.imagen-container{
  margin-left: 50px;
}

h2{
    font-size: 2em;
    font-family: value;
    
}

.text-organiza-1{
    font-size: 1.05em;
    font-family: montserrat-light;
    
   
   
}


 .organiza-2{
    display: flex;
    align-items: center;
    background: white;
    box-shadow: 10px 10px 80px;
    border-radius: 5px;
    margin-bottom: 100px;
    height: 230px;
    
    

}

.imagen-container-2{
    margin-left: 50px;
}


#no-2{
    height: 278px;
    margin-left: -25px;
    margin-bottom: -17px;

}

h2{
    font-size: 2em;
    font-family: value;
    
}

.text-organiza-2{
    font-size: 1.05em;
    font-family: montserrat-light;
    
   
   
}


.button-footer{
   width: 100%;
   color: white;
   background-color: rgb(232, 45, 100);
   font-family: 'value';
   border-radius: 5px;
   border: solid rgb(232, 45, 100);
   padding: 10px 70px;
   font-size: 1.5em;
   box-shadow: 4px 5px 20px rgb(16, 64, 151);
}

footer{
    background: blue;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-links> li{
    color: white;
    list-style: none;
    float: left;
}

a{
    color: white;
    font-family: value;
}

.instagram{
    color: blueviolet;
}