<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    

    <!-- <div id="app">
        <p>
           {{counter}}
        </p>
    
            <button @click = "suma (10)"> sumar </button>
            <button @click = "restar (10)"> restar </button>
    </div>   -->

    <div id="directivas">
            <input v-model='newTask' type="text">
            <button @click=addTask(newTask)>Agregar</button>
            <form action="">


                <h3>Tareas por hacer</h3>
                <ul v-for="task in uncompletedTasks">
                    <li :style = "{
                        textDecoration: task.completed ? 'line-through' : 'none'}">
                        <input  v-model = "task.completed" type="checkbox">
                        {{task.name}}

                    </li>
     
                    </ul>


                    <h3>Tareas por completado</h3>
                    <ul v-for ="task in completedTasks">
                            <li :style = "{
                                textDecoration: task.completed ? 'line-through' : 'none' 
                            }">
                                <input  v-model = "task.completed" type="checkbox">
                                {{task.name}}
        
                            </li>

                    
                    
                    </li>
                    </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>